/* Barber shop CSS file */
/* main styles */
:root {
  --title-color: #303030;
  --white-color: #ffffff;
  --main-text-color: #555555;
  --alt-text-color: #9da4bd;
}
body {
  font-family: 'Open Sans', sans-serif;
  background-color: grey;
  
}
a {
  text-decoration: none;
}

/* Header styles */
.list {
  list-style: none;
}
.nav-item {
  color: var(--white-color);
}
.nav-item:hover,
.nav-item:focus {
  color: #ff6c00;
}
.nav-btn {
  text-transform: uppercase;
}
.nav-btn:hover,
.nav-btn:focus {
  background-color: #ff6c00;
}
/* Main section styles */
.hero-social {
  color: var(--title-color);
}
.hero-social:hover {
  color: #ff6c00;
}
