/* Barber shop CSS file */
/* main styles */
:root {
  --title-color: #303030;
  --white-color: #ffffff;
  --main-text-color: #555555;
  --alt-text-color: #9da4bd;
  --subtitle-color: rgba(157, 164, 189, 0.6);
  --hover-color: #ff6c00;
  --typical-mb: 20px;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.02em;
}
p, h1, h2, h3, h4, h5 {
  margin: 0;
}
ul, ol {
  margin-left: 0;
  padding-left: 0;
}
img {
  display: block;
}
button {
  cursor: pointer;
}
.link {
  text-decoration: none;
  font-style: normal;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 1px solid tomato;
}
.list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
}
/* Header styles */
.header {
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: darkgray;
}
.nav-item {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3px;
  letter-spacing: 0.1em;
  color: var(--white-color);
}
.nav-item:hover,
.nav-item:focus {
  color: var(--hover-color);
}
.tel {
  text-transform: uppercase;
}
.btn {
  font-family: 'Open sans', sans-serif;
  text-transform: uppercase;
  border: 1px solid var(--hover-color);
  box-sizing: border-box;
  border-radius: 25px;
  background-color: transparent;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3px;
  letter-spacing: 0.1em;
  color: var(--white-color);
  padding: 12px 20px;
}
.btn:hover,
.btn:focus {
  background-color: var(--hover-color);
}
/* Main section styles */
/* Hero section styles */
.hero {
  background-color: grey;
}
.hero-social {
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 11px;
  line-height: 1.4px;
  color: var(--title-color);
}
.hero-social:hover {
  color: var(--hover-color);
}
.hero-content {
  padding: 272px 0 206px 96px;
  background-color: #000;
}
.subtitle{
  font-weight: 600;
  font-size: 11px;
  line-height: 1.4;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--title-color)
}
.sub-hero {
  margin-bottom: var(--typical-mb);
  color: var(--subtitle-color);
}
.title {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 42px;
  line-height: 1.2;
  letter-spacing: 0.05em;
  color: var(--title-color);
}
.main-title {
  margin-bottom: var(--typical-mb);
  font-size: 72px;
  color: var(--white-color);
}
.main-text {
  max-width: 400px;
  color: var(--alt-text-color);
}
/* About us section styles */
.about-us {
  padding-top: 139px;
  padding-bottom: 121px;
}
.sub-color {
  margin-bottom: var(--typical-mb);
  color: var(--title-color);
}
.about-us-title {
  margin-bottom: var(--typical-mb);
}
.about-us-text{
  margin-bottom: var(--typical-mb);
  color: var(--main-text-color);
}
.about-us-subtext {
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 1.9;
  color: var(--main-text-color);
}
.btn-about-us {
  color: var(--title-color);
}
/* Pricing section styles */
.pricing {
  padding-top: 130px;
  padding-bottom: 130px;
  background-color: ;
}
.pricing-sub {
  margin-bottom: var(--typical-mb);
}
.pricing-title {
  margin-bottom: 44px;
  color: var(--white-color);
}
.pricing-list {
  padding: 30px 40px;
  color: var(--alt-text-color);
}
.pricing-list-item {
  margin-bottom: var(--typical-mb);
}
/* Why we section styles */
.why-we {
  padding-top: 121px;
  padding-bottom: 130px;
}
.why-we-item {
  width: 170px;
  height: 133px;
  background-color: #f7f7f7
}
.why-we-numbers {
  display: block;
  text-align: center;
  margin-bottom: 6px;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.4;
  letter-spacing: 0.05em;
  color: var(--title-color);
}
.why-we-text {
  color: var(--main-text-color);
}
.sub-why-we {
  padding-bottom: var(--typical-mb);
}
.why-we-tittle {
  padding-bottom: var(--typical-mb);
}
/* Masters section styles */
.masters {
  padding-top: 130px;
  padding-bottom: 130px;
}
.sub-masters {
  margin-bottom: var(--typical-mb);
}
.masters-title {
  margin-bottom: 44px;
}
.masters-img {
  margin-bottom: 30px;
}
.masters-name {
  margin-bottom: 8px;
  line-height: 1.4;
  color: var(--main-text-color);
}
.masters-prof {
  font-size: 14px;
  line-height: 1.4;
  color: var(--hover-color);
}
/* Gallery section styles */
.gallery {
  padding-top: 130px;
  padding-bottom: 130px;
}
.gallery-title {
  display: none;
}
.sub-gallery {
  margin-bottom: 44px;
}
/* Online form section styles */
.online-form {
  padding-top: ;
  padding-bottom: ;
}
.online-title {
  color: var(--white-color);
}
/* contacts section styles */
.contacts-title {
  color: var(--white-color);
}
.link-contacts {
  color: var(--alt-text-color);
}
.link-contacts:hover,
.link-contacts:focus {
  color: var(--white-color);
}
.work-time-title {
  color: var(--white-color);
}
.work-time {
  color: var(--alt-text-color);
}
/* Footer styles */
.footer-social-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.4px;
  color: var(--title-color);
}
.copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.4px;
  color: var(--alt-text-color) ;
}